*{
    margin: 0;
    padding: 0;

}

body{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    background-color: rgba(30,30,40,255);
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

aside{
    background-color: rgba(32,32,42,255);
    top: 0;
    position: sticky;
    height: 100vh;
    width: 25vw;
    min-width: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside::-webkit-scrollbar {
    display:none;
}
  
#pageme{
    background-image:url(Quiraing-Skye-Scottish-Highlands.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    margin-bottom: 1vh;
    height: 45vh;
}

#sombra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(30,30,40);
    background: linear-gradient(0deg, rgba(30,30,40,1) 37%, rgba(39, 32, 99, 0.774)98%); 
}

#sombra2{
    width: 100%;
    height: 100%;
    background-color: rgba(25, 22, 77, 0.658);
    display: inline-flex;
}

#sombra img{
    position: absolute;
    border-radius: 5px;
    width: auto;
    height: 45%;
    margin-right: 8vw;

}

#aboutme{
    display: flex;
    background-image:url(Quiraing-Skye-Scottish-Highlands.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 5vh;
    width: 90%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 5px 10px;
    justify-content: right;
    align-items: flex-end;
}

#aboutme h1{
    font-family:  Archivo Black;
    font-weight: 100;
    font-size: 350%;
    color: white;
    
}

#sombra2 #autotype{
    padding: 2vw;
    height: auto;
    width: 100%;

}

#code{
    color: white;
    display: inline-flex;
    font-family: Consolas, 'Courier New', monospace;
}

.addchave::after{
    content: ">";
}
.addchave::before{
    content: "<";
}

.addchave{
    color: rgb(241, 195, 87);
}


#bloquinhos{
    margin-top: 2vh;
    width: 90%
}

#titulo{
    font-family: Kanit;
    font-weight: 700;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35vh;
}

.card{
    padding-bottom:1em;
    background-color: rgba(44,44,54,255);
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    margin-right: 3vw;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardfim{
    padding-bottom:1em;
    background-color: rgba(44,44,54,255);
    margin-top: 1.5vw;
    margin-bottom: 1vw; 
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barracard{
    border-radius: 1em;
    margin-top: 1em;
    min-height: 1px;
    width: 80%;
    background-color: #77767e;
}

.infocard{
    margin-top: 0.5em;
    width: 75%;
    font-family: Kanit;
    font-weight: 300;
    font-size: medium;
    color: rgba(255, 255, 255, 0.479);
    text-align: left;
    font-size: 1.3em;
}

.titulocard{
    margin-top: 0.5em;
    text-align: center;
    font-family: Kanit;
    color: rgb(241, 195, 87);
    margin-bottom: 0.3em;
}

#guitarra{
    margin-right: 1em;
}

#psico{
    margin-bottom: 1em;
}

#cardinit{
    margin-bottom: 1em;
}

#cat{
    
    margin-right: 2em;
}

#eu{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 103%;
    height: 60%;
    background-color: #25252f;
    padding-bottom: 2vh;
}

#trasparencia{
    opacity: 0.5;
}

#eu img{
    margin-top: 3vh;
    border-radius: 50%;
    width: 30%;
    height: auto;
}

#eu h1{
    color: white;
    font-family: Kanit;
    font-weight: 700;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#eu p{
    color: #77767e;
    font-family: Kanit;
    font-weight: 100;
    font-size: medium;
    margin-bottom: 1vh;
    text-align: center;
}

#info{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80%;
    height: 15%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #77767e;
    padding-bottom: 2vh;
}

.rowall{
    display: flex;
}

.rowside1, .rowside{
    width: 100%;
}

.rowside{
    display: flex;
    justify-content: right;
}

.tit{
    color: white;
    font-family: Kanit;
    font-weight: 700;
    font-size: medium;
    margin-bottom: 1vh;
}

.infotit{
    color: #77767e;
    font-family: Kanit;
    font-weight: 700;
    font-size: medium;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: flex-end;
}

#idi{
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
    border-bottom: 1px solid #77767e;
}

#pizzas{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infopizzas{  
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    text-align: center;
}

#infopizzas p{
    color: white;
    font-family: Kanit;
    font-weight: 400;
    font-size: small;
}

#porttext{
    width: 100%;
}

#engtext{
    width: 100%;
}

#frechtext{
    width: 100%;
}


.bolass{
    color: #cccbd6;
    font-family: Kanit;
    font-weight: 700;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(241, 195, 87);
    height: 3vw;
    width: 3vw;
    margin: 2vh;
    border-radius:100%;
}

#ing{
    border-left: 3px solid black;
    transform: rotate(45deg);
}

#french{
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black ;
    transform: rotate(45deg);
}

#ing p, #french p{
    transform: rotate(-45deg);
}


.nomes{
    display: inline-flex;
    width: 100%;
    margin-bottom: 0.4em;

}

#prog{
    padding-top: 3vh;
    width: 80%;
    height: 35%; 
    color: white;
    font-family: Kanit;
    font-weight: 400;
    font-size:80%;
    border-bottom: 1px solid #77767e;
}


.porcent{
    text-align: right;
    width: 100%;
}

.barra{
    width: 100%;
    height: 0.4em;
    border-radius: 20px;
    margin-bottom: 1.8em;
}

#barra_html{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 10%, rgb(241, 195, 87) 10%); 
}

#barra_css{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 20%, rgb(241, 195, 87) 20%); 
}

#barra_py{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 40%, rgb(241, 195, 87) 40%); 
}

#barra_java{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 60%, rgba(241,195,87,1) 60%); 
}

#barra_c{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 40%, rgb(241, 195, 87) 40%); 
}

#tec{
    width: 80%;
    height: auto; 
    color: #77767e;
    font-family: Kanit;
    font-weight: 400;
    font-size:90%;
    border-bottom: 1px solid #77767e;
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.tecnick{
    display: inline-flex;
    align-items: center;
}

.tecnick svg path{
    fill: rgb(241, 195, 87);
}

#cv{
    width: 80%;
    height: auto; 
    color: #77767e;
    font-family: Kanit;
    font-weight: 700;
    font-size:90%;
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
    padding-bottom: 3em;
    align-items: center;

}

#sm{
    padding: 2vh;
    width: 100%;    
    background-color: #25252f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#sm svg{
    margin-right: 3em;
    fill: #77767e;
}

#sm svg a{
    color: #77767e;
}

#linked{
    margin-left: 3em;
}

#botao{
    font-size: 0.9em;
    font-weight: 300;
    font-family: Kanit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 195, 87);
    width: 100%;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 5px 10px;
    padding: 0.2em;
}

#botaolink {
    margin-top: 2.5vh;
    align-items: center;
    justify-content: center;
    display:flex;
    width:8vw;
    height: fit-content;
    text-decoration: none;
    color: black;
}

.projects_info{
    font-family: Kanit;
    font-weight: 700;
    background: -webkit-linear-gradient(127deg, rgba(241,195,87,1) 0%, rgba(215,176,63,1) 48%, rgba(203,182,97,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:2em;
    text-align: center;
}

#projects{
    margin-top: 1vh;
    background-color: transparent;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#nomefrase {
    margin-right: 11em;
    font-size:1.2em;
    text-align: right;
}
